<div class="modal {{#unless no-fade}}fade{{/unless}}" id="{{#if id}}{{id}}{{else}}myModal{{/if}}" tabindex="-1" role="dialog" aria-labelledby="{{#if id}}{{id}}{{else}}myModal{{/if}}Label">
	<div class="modal-dialog {{#if modal-size}}modal-{{modal-size}}{{/if}}">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{{#if exit}}{{exit}}{{else}}{{#if close}}{{close}}{{else}}Close{{/if}}{{/if}}"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="{{#if id}}{{id}}{{else}}myModal{{/if}}Label">{{title}}</h4>
			</div>
			<div class="modal-body">
				{{#if body}}{{{body}}}{{/if}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{#if close}}{{close}}{{else}}Close{{/if}}</button>
				<button type="button" class="btn btn-primary">{{#if confirm}}{{confirm}}{{else}}Save changes{{/if}}</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->