<button type="button" class="btn{{#if btn-style}} {{btn-style}}{{else}} btn-default{{/if}}" data-toggle="modal" data-target="#{{target-id}}" {{#each data}}data-{{name}}="{{value}}" {{/each}}>
	{{text}}
</button>